.epep{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(240, 39, 39);
}
.fa{
    color: rgb(240, 39, 39);
}
.pc{
    color: rgb(240, 39, 39);
    font-family: 'Courier New', Courier, monospace;
}
.pt{
    color: rgb(240, 39, 39);
    font-family: 'Courier New', Courier, monospace;
}
.pm{
    color: rgb(240, 39, 39);
    font-family: 'Courier New', Courier, monospace;
}
.po{
    color: rgb(240, 39, 39);
    font-family: 'Courier New', Courier, monospace;
}
.p{
    font-family: 'Times New Roman', Times, serif;
}